* {
	/* Fixing the box-sizing issue */
	/* Explanation: https://www.w3schools.com/css/css3_box-sizing.asp */
	box-sizing: border-box;

	/* Setting all default margin and padding to 0, because elements have pretty arbitary initial settings */
	margin: 0;
	padding: 0;

	/* Smooth scrolliing when anchor links pressed */
	scroll-behavior: smooth;
}

@font-face {
    font-family: "Lava Lamp";
    src: url(fonts/BasteleurLavaLampVF.ttf);
}

ul.nav {
    display: flex; 
    flex-direction: row;

    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 20px;
    height:100%;

    align-self: flex-start;
    justify-content: space-between;
    flex-direction: row;

    writing-mode: sideways-lr;
    text-orientation: mixed;

    padding: 5px;
    list-style-type: none;
    border-bottom: 1px solid black;
    background-color: #ffefee;
}

a.nav {
    text-decoration: none;
    font-size:2.4vw;
    font-weight:bold;
    color:black;
    font-family:futura;
}

a.nav:hover {
    filter: blur(5px);
}

a.nav:active{
    filter:none;
    color:blue;
}

.font-bubble {
    font-size:20vw;
    display:inline-block; 
    border:0.5vw solid black; 
    border-radius: 100%; 
    padding:0.2em 0.4em; 
    margin-top: 3vw;
    position:absolute;
}

.lava-lamp {
    font-family:"Lava Lamp";
    font-variation-settings:"LALA" 0;
    transition:0.5s;
}

.lava-lamp:hover {
    font-variation-settings:"LALA" 100;
}

a.download {
    font-size:3.5vw;
    background-color: pink;
    border: 0.5vw solid purple;
    border-radius: 2em;
    padding:0.5em 1.0em; 
    position:absolute;
    text-decoration: none;
}
